.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.page-item .page-link {
  position: relative;
  display: block;
  margin: 0 3px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: black; /* Light mode: inactive page number text should be black */
  text-decoration: none;
  background-color: transparent; /* Ensure background is transparent */
}
@media (prefers-color-scheme: dark) {
  .page-item .page-link {
    color: rgb(
      237,
      236,
      236
    ); /* Dark mode: inactive page number text should be white */
  }

  .page-item.active .page-link {
    background-color: #007bff;
  }

  .page-item.disabled .page-link {
    color: #2873b5;
  }
}

.page-item.active .page-link {
  font-weight: 700;
  color: #ffffff;
  background-color: #007bff;
}

.page-item .page-link {
  font-weight: 700;
  color: #ffffff;
  background-color: #8aa4c0;
}

.page-item.disabled .page-link {
  color: #1982de;
  pointer-events: none;
  cursor: auto;
}
